<ion-header>
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
      <ion-button slot="end" fill="clear" color="medium" size="small" routerLink="/perfil">
        {{nombre}}
      </ion-button>
      <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
      <ion-button slot="end" fill="outline" color="medium" routerLink="/loginpage">
        <ion-buttons>
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-buttons>
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mis-viajes">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Mis Viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programar-viaje">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Programar Viaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conductores-disp">
      <ion-icon name="map"></ion-icon>
      <ion-label>Conductores Disponibles</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>