<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea [(ngModel)]="itemName" placeholder="Write task here"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="itemSurName" placeholder="Ingrese su apellido"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Prioridad</ion-label>
      <ion-select [(ngModel)]="itemPriority">
        <ion-select-option value="low">Bajo</ion-select-option>
        <ion-select-option value="middle">Medio</ion-select-option>
        <ion-select-option value="high" selected>Urgente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Fecha de Viaje </ion-label>
      <ion-datetime [(ngModel)]="itemDueDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label> Categoria</ion-label>
      <span>{{categorySelectedCategory}}</span>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="update()">Modificar Viaje</ion-button>

  </ion-card>



</ion-content>